/***********************/
/***** Button Fade *****/
/***********************/
.fade {
    transition: all ease 250ms;
}
.fade.ng-hide {
    opacity: 0;
}

/***********************************/
/***** Slide in\out from Right *****/
/***********************************/
.slide-right.ng-enter,
.slide-right.ng-leave {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.slide-right.ng-enter {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}

.slide-right.ng-enter-active {
    transform: translateX(0);
}

.slide-right.ng-leave {
    position: absolute;
    width: 100%;
    transform: translateX(0);
}

.slide-right.ng-leave-active {
    transform: translateX(100%);
}

/*********************************/
/***** Slide in\out from Top *****/
/*********************************/
.slide-top.ng-enter,
.slide-top.ng-leave {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.slide-top.ng-enter {
    position: absolute;
    width: 100%;
    transform: translateY(-100%)
}

.slide-top.ng-enter-active {
    transform: translateY(0);
}

.slide-top.ng-leave {
    position: absolute;
    width: 100%;
    transform: translateY(0)
}

.slide-top.ng-leave-active {
    transform: translateY(-100%);
}
