/***********************/
/***** Button Fade *****/
/***********************/
.button-fade {
    transition: all ease 250ms;
}
.button-fade.ng-hide {
    opacity: 0;
}


/***********************/
/***** Fade in\out *****/
/***********************/
.fade.ng-enter,
.fade.ng-leave {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.fade.ng-enter {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    position: absolute;
    width: 100%;
    opacity: 1;
}

.fade.ng-leave-active {
    opacity: 0;
}



/***********************************/
/***** Slide in\out from Right *****/
/***********************************/
.slide-right.ng-enter,
.slide-right.ng-leave {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.slide-right.ng-enter {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
}

.slide-right.ng-enter-active {
    transform: translateX(0);
}

.slide-right.ng-leave {
    position: absolute;
    width: 100%;
    transform: translateX(0);
}

.slide-right.ng-leave-active {
    transform: translateX(100%);
}

/*********************************/
/***** Slide in\out from Top *****/
/*********************************/
.slide-top.ng-enter,
.slide-top.ng-leave {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.slide-top.ng-enter {
    position: absolute;
    width: 100%;
    transform: translateY(-100%)
}

.slide-top.ng-enter-active {
    transform: translateY(0);
}

.slide-top.ng-leave {
    position: absolute;
    width: 100%;
    transform: translateY(0)
}

.slide-top.ng-leave-active {
    transform: translateY(-100%);
}

/**********************************/
/***** Bounce in\out from Top *****/
/**********************************/
.bounce-top.ng-enter {
    position: absolute;
    width: 100%;
    animation: 1s bounceInDown;
    -webkit-animation: 1s bounceInDown;
    -moz-animation: 1s bounceInDown;
}

.bounce-top.ng-leave {
    position: absolute;
    width: 100%;
    animation: 1s bounceOutUp;
    -webkit-animation: 1s bounceOutUp;
    -moz-animation: 1s bounceOutUp;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
