.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chrome-image-fix {
    min-height: 0;
}

/* Fix FAB icon not vertically aligned */
md-icon.material-icons {
    display: block !important;
}

/* Goals Index FAB */
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

/* graphLegend directive */
.legend-color {
    height: 10px;
    width: 10px;
    display: inline-block;
}
.legend-text {
    padding: 5px;
    padding-right: 20px;
}

/* color links with material theme */
.material a {
    color: #009688;
    text-decoration: none;
}

.material a:hover {
    color: #4CAF50;
}
