.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chrome-image-fix {
    min-height: 0;
}


/* Tasks Index FAB */
.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

/* Animation: Fade*/
.fade {
    transition: all ease 250ms;
}

.fade.ng-hide {
    opacity: 0;
}

/* graphLegend directive */
.legend-color {
    height: 10px;
    width: 10px;
    display: inline-block;
}

.legend-text {
    padding: 5px;
}
