<md-dialog aria-label="Add Dialog" flex="50">
    <form name="AddGoalForm" ng-submit="submit()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Goal</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- Input Title -->
                <md-input-container class="md-block">
                    <label>Title</label>
                    <md-icon class="material-icons">title</md-icon>
                    <input type="text" name="title" ng-model="goalDetails.title" required>
                    <md-tooltip md-delay="1000">Sum up your goal in a word or two</md-tooltip>
                    <div ng-messages="AddGoalForm.title.$error">
                        <div ng-message="required">
                            This is required
                        </div>
                    </div>
                </md-input-container>
                <!-- Input Description -->
                <md-input-container class="md-block">
                    <label>Description</label>
                    <md-icon class="material-icons">description</md-icon>
                    <input type="text" name="description" ng-model="goalDetails.description" minlength="5" md-maxlength="150" required>
                    <md-tooltip md-delay="1000">Describe your goal</md-tooltip>
                    <div ng-messages="AddGoalForm.description.$error">
                        <div ng-message="required">
                            This is required
                        </div>
                        <div ng-message="minlength">
                            Description is too short
                        </div>
                        <div ng-message="md-maxlength">
                            Description is too long
                        </div>
                    </div>
                </md-input-container>
                <!-- Input Category -->
                <md-autocomplete flex="90" flex-gt-sm="40"
                                 md-items="category in query(categorySearch)" 
                                 md-item-text="category.value"
                                 md-search-text="categorySearch"
                                 md-selected-item="selectedCategory"
                                 md-min-length="0"
                                 placeholder="Category (Optional)">
                    <md-item-template>
                      <span md-highlight-text="categorySearch" md-highlight-flags="^i">{{ category }}</span>
                    </md-item-template>
                    <md-not-found>
                        a new category will be created.
                    </md-not-found>
                </md-autocomplete>
                <!-- Input Date -->
                <div layout="row" layout-padding layout-align="start center">
                    <md-datepicker name="date" ng-model="goalDetails.date" md-placeholder="Pick Date" md-min-date="minDate" md-max-date="maxDate" required></md-datepicker>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-warn">Cancel</md-button>
            <md-button type="submit" class="md-primary">Submit</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
