<md-dialog aria-label="Goal Type Dialog" flex="75">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Comparing Goals</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column" layout-gt-sm="row" layout-align="center center" layout-padding>
                <graph-legend color="#009688" label="Progress"></graph-legend>
                <canvas id="graph"></canvas>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="cancel()" class="md-warn">Back</md-button>
        <md-button ng-click="done()" class="md-primary">Done</md-button>
    </md-dialog-actions>
</md-dialog>
