<h1>Goals List</h1>
<!-- Mock Buttons -->
<div layout="row" layout-align="start center">
    <md-button ng-click="mockData()">
        Mock Data
    </md-button>
    <md-button ng-click="mockDelete()">
        Delete Data
    </md-button>
</div>
<div layout="column" layout-gt-sm="row" flex class="unselectable" layout-padding id="searchAnchor">
    <!--  Category Filter  -->
    <md-input-container>
        <label>Category</label>
        <md-select name="categories" ng-model="search.category">
            <md-option value="">All</md-option>
            <md-option ng-repeat="category in categories" value="{{ category }}">{{ category }}</md-option>
        </md-select>
    </md-input-container>
    <!--  Search Box  -->
    <md-input-container>
        <input ng-focus="scrollTo('searchAnchor')" placeholder="Search" name="search" type="text" ng-model="search.input.title">
    </md-input-container>
    <!--  Mock Buttons  -->
    <span flex></span>
    <!--  Edit Mode Button  -->
    <div layout="row" layout-align="end center">
        <md-button ng-show="!editMode" ng-click="toggleEditMode()" class="md-primary md-icon-button fade">
            <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button id="btnCompare" ng-show="editMode" ng-click="compareGoals($event)" class="md-primary md-raised fade">
            Compare
        </md-button>
        <md-button ng-show="editMode" ng-click="toggleEditMode()" class="md-primary md-icon-button md-raised fade">
            <md-icon class="material-icons">done</md-icon>
        </md-button>
    </div>

</div>
<!-- Goal List -->
<md-list>
    <md-list-item class="md-2-line goal" flex aria-label="goal list item" ng-repeat="goal in goals | categoryFilter:search.category | filter:search.input" ng-click="goalClicked(goal)">
        <md-icon ng-show="!editMode" class="material-icons">{{ goal.icon }}</md-icon>
        <md-checkbox class="md-primary" aria-label="goal checkbox" ng-checked="isChecked(goal)" ng-show="editMode"></md-checkbox>
        <div class="md-list-item-text" layout="column">
            <h3>{{ goal.title }}</h3>
            <h4>{{ goal.description }}</h4>
        </div>
        <md-progress-linear flex="15" md-mode="determinate" ng-value="{{ goal.progress }}"></md-progress-linear>
        <md-divider></md-divider>
    </md-list-item>
</md-list>

<!-- FAB -->
<md-button ng-click="typeDialog($event)" class="md-fab md-fab-bottom-right">
    <md-icon ng-class="material-icons">add</md-icon>
</md-button>
