<md-dialog aria-label="Goal Dialog" flex="50">
    <form name="AddNewRoutine" ng-submit="submit()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Routine</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <!-- Input Title -->
                <md-input-container class="md-block">
                    <label>Title</label>
                    <md-icon class="material-icons">title</md-icon>
                    <input ng-disabled="isEditing" type="text" name="title" ng-model="goal.title" required>
                    <md-tooltip md-delay="1000">Sum up your goal in a word or two</md-tooltip>
                    <div ng-messages="AddGoalForm.title.$error">
                        <div ng-message="required">
                            This is required
                        </div>
                    </div>
                </md-input-container>
                <!-- Input Description -->
                <md-input-container class="md-block">
                    <label>Description</label>
                    <md-icon class="material-icons">description</md-icon>
                    <input type="text" name="description" ng-model="goal.description" minlength="5" md-maxlength="150" required>
                    <md-tooltip md-delay="1000">Describe your goal</md-tooltip>
                    <div ng-messages="AddGoalForm.description.$error">
                        <div ng-message="required">
                            This is required
                        </div>
                        <div ng-message="minlength">
                            Description is too short
                        </div>
                        <div ng-message="md-maxlength">
                            Description is too long
                        </div>
                    </div>
                </md-input-container>
                <!--Routine times-->
                <md-input-container>
                    <label>Repetitions</label>
                    <input ng-disabled="lockDate" class="noArrows" type="number" name="repAmount" ng-model="repAmount" min="1" step="1" required>
                </md-input-container>
                <md-input-container>
                    <label>Every</label>
                    <input ng-disabled="lockDate" class="noArrows" type="number" name="timeAmount" ng-model="timeAmount" min="1" step="1" required>
                </md-input-container>
                <md-input-container>
                    <label>Time</label>
                    <md-select ng-model="timeRange" ng-disabled="lockDate">
                        <md-option value="{{ range }}" ng-repeat="range in timeRangeLabels">
                            {{range}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="cancel()" class="md-warn">Cancel</md-button>
            <md-button ng-click="submit()" class="md-primary">Ok</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
