<div layout-padding>
    <div layout="row" layout-align="start center">
        <!--Back to menu button-->
        <md-button ng-href="{{backLink}}" class="md-icon-button">
            <md-icon class="material-icons"> arrow_back </md-icon>
        </md-button>
        <h3>Back to Goal List</h3>
    </div>

    <!--Goal Card-->
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="material-icons">{{goal.icon}}</md-icon>
            </md-card-avatar>
            <md-card-header-text layout="row">
                <div class="md-title">Category:
                    <p>{{goal.category}}</p>
                </div>
                <span flex></span>
                <md-button class="md-icon-button md-primary" ng-click="editDialog($event)">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{goal.title}}</span>
                <span class="md-subhead">Grade: GRADE_HERE</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <!-- need to find a way to make tab stretch to show all content-->
            <md-tabs>
                <md-tab label="Info">
                    <p>
                        <h4>Goal Date: {{goal.date | date: 'fullDate'}}</h4></p>
                    <p>
                        <h4>Progress: {{goal.progress}}%</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                    <p>
                        <h4>Current Routine: ROUTINE_HERE</h4></p>
                </md-tab>
                <md-tab label="Graph"></md-tab>
                <md-tab label="Routines"></md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
</div>
