<div layout-padding flex>
    <div layout="row" layout-align="start center">
        <!--Back to menu button-->
        <md-button ng-href="{{backLink}}" class="md-icon-button">
            <md-icon class="material-icons"> arrow_back </md-icon>
        </md-button>
        <h3>Back to Goal List</h3>
    </div>

    <!--Goal Card-->
    <md-card>
        <md-card-header>
            <md-card-avatar>
                <md-icon class="material-icons">{{goal.icon}}</md-icon>
            </md-card-avatar>
            <md-card-header-text layout="row">
                <div class="md-title">Category:
                    <p>{{goal.category}}</p>
                </div>
                <span flex></span>
                <md-button class="md-icon-button md-primary" ng-click="editDialog($event)">
                    <md-icon class="material-icons">mode_edit</md-icon>
                </md-button>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <div layout-align="center center" layout="column">
                    <span class="md-headline">{{goal.title}}</span>
                    <span class="md-subhead">Grade: GRADE_HERE</span>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <md-tabs md-dynamic-height="true">
                <md-tab label="Description">
                    <div layout-align="center center" layout="column">
                        <p>
                            <h4>Goal Date: {{goal.date | date: 'fullDate'}}</h4>
                        </p>
                        <p>
                            <h4>Progress: {{goal.progress}}%</h4>
                        </p>
                        <p>
                            <h4>Description: {{goal.description}}</h4>
                        </p>
                    </div>
                </md-tab>
                <md-tab label="Graph" ng-click="drawGraph()">
                    <!-- Graph -->
                    <div layout="column" layout-gt-sm="row" layout-align="center center">
                        <graph-legend color="#009688" label="Progress"></graph-legend>
                        <canvas id="graph"></canvas>
                    </div>
                </md-tab>
                <md-tab label="Routines">
                    <div layout="row" layout-align="start center">
                        <md-button class="md-icon-button md-primary" ng-click="addRoutine($event)">
                            <md-icon class="material-icons">add_circle</md-icon>
                        </md-button>
                        <span flex></span>
                        <md-switch class="md-primary" ng-model="editRoutineMode" aria-label="editSwitch">
                            Edit
                        </md-switch>
                    </div>
                    <div class="empty-text" layout="column" layout-align="center center" ng-show="!goal.routines.length">
                        <h1>Get Started by adding a new routine:</h1>
                        <h1>Click the "+" on the top left</h1>
                    </div>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="routine in goal.routines">
                            <md-checkbox ng-show="editRoutineMode" ng-model="item.done" class="md-primary"></md-checkbox>
                            <div class="md-list-item-text" layout-align="start center" layout="row">
                                <span>
                                    <h3>{{routine.title}}</h3>
                                    <p>{{routine.description}}</p>
                                </span>
                                <span flex></span>
                                <md-button class="md-icon-button md-primary" ng-click="deleteRoutine(routine)">
                                    <md-icon ng-show="editRoutineMode" class="material-icons">delete</md-icon>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>

                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>

</div>
